<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation" parallel="tests" thread-count="6" data-provider-thread-count="6">
    <test name="EcommerceTests on Chrome" parallel="methods" thread-count="6">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.solvd.ecommerce.EcommerceTest" />
        </classes>
    </test>
    <test name="EcommerceTests on FireFox" parallel="methods" thread-count="6">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.solvd.ecommerce.EcommerceTest" />
        </classes>
    </test>
</suite>